/Pruebas/Prueba funcionamiento clasificador/Datos_reducidos/
/Pruebas/Prueba funcionamiento clasificador/Clasificadores de pruebas/Clasificadores/
/Pruebas/Prueba funcionamiento clasificador/Clasificadores de pruebas/Escaladores/
